.about-card {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: #fff;
  }
  
  h1 {
    text-align: center;
    
  }
  
  p {
    display: inline;
    color: #000000;
    text-align:left;
    align-items: center;
    max-width: 440px;
  }

  img {
    display: flex;
    flex-flow: column;
    vertical-align: middle;
    max-width: 30%;
    max-height: 30%;
    margin-right: 30px;
    align-self: center;
  }

  img.align-self {
    align-self: center;
  }

  img:hover {
    transform: scale(1.1);
  }

  .flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .about-card_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .about-card_wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .about-card_items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .about-card_item {
      margin-bottom: 2rem;
    }
  }